$pad: 10px;
$border: 4px;

:root {
    --bg: white;
    --txt: black;
}

/*
* global
*/

*,
*::before,
*::after,
*:focus {
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
    outline: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &::-webkit-scrollbar {
        width: 0 !important;
    }
}

[v-cloak] {
    display: none;
}

body {
    background: var(--bg);
    color: var(--txt);
    font-family: 'Slabo 27px', serif;
    margin: 0;
    padding: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: $pad / 5 0;
}

p {
    margin-bottom: 0;
}

table,
th,
td {
    border-bottom: 1px solid white;
    padding: $pad $pad + 5;
}

table {
    border-collapse: collapse;
    margin-top: $pad;
    text-align: left;
}

th:first-of-type,
td:first-of-type {
    border-right: 1px solid white;
}

label {
    display: block;
    margin-bottom: $pad / 2;
}

/*
* styles
*/
.is-bold {
    font-size: 1.2rem;
    font-weight: bold;
}

.notif-container {
    position: fixed;
    right: $pad;
    top: $pad;
    z-index: 2;

    .notif {
        border-radius: $border;
        margin: $pad 0;
        padding: $pad;

        li {
            margin: 0;
        }
    }
}

// vue anim
.slide-fade-enter-active,
.slide-fade-leave-active,
.slide-fade-up-enter-active,
.slide-fade-up-leave-active {
    transition: all 0.3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
    transform: translateX(10px);
}

.slide-fade-up-enter,
.slide-fade-up-leave-to {
    opacity: 0;
    transform: translateY(10px);
}

.text {
    display: flex;

    div {
        flex: 1;
        padding: 0 $pad * 2;
    }
}

.text__left {
    input,
    textarea {
        border-radius: $border;
        margin: $pad auto;
        padding: $pad;
        width: 100%;
    }

    textarea {
        height: 200px;
    }
}

.text__right {
    border-left: 1px solid white;

    ul {
        border-bottom: 1px solid white;
        margin: $pad 0 $pad * 2;
        padding-bottom: $pad;
    }
}

.total {
    border-bottom: 1px solid white;
    margin-bottom: 0;
    padding: $pad 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.colors {
    display: flex;
}

.colors__list {
    flex: 5;
    margin-top: $pad + 5;
    padding: $pad / 2 $pad;
    text-align: center;
    text-transform: lowercase;

    ul {
        display: flex;
        flex-wrap: wrap;
    }
}

.colors__circle {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5rem;

    &:hover {
        margin: 0;
        transform: scale(1.25);
    }
}

.colors__sidebar {
    border-left: 1px solid white;
    flex: 1;
    padding: $pad * 2;
    position: relative;
}

input[type='range'],
input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.colors__sidebar-data {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: $pad * 5;

    .radio {
        border-bottom: 1px solid white;
        margin-bottom: $pad * 2;
        padding-bottom: $pad;

        input[type='radio'] {
            background: var(--bg);
            border: $border - 1 solid var(--brdr);
            border-radius: 50%;
            height: 1rem;
            margin: 0 $pad / 2;
            vertical-align: text-top;
            width: 1rem;
        }

        input:checked {
            border: $border + 2 solid var(--brdr);
        }
    }

    .range {
        border-bottom: 1px solid white;
        margin-bottom: $pad * 2;
        padding-bottom: $pad;

        input[type='range'] {
            border-radius: 100vw;
            height: $pad - 3;
            margin: $pad 0;
            width: 100%;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                background: var(--bg);
                border: $border - 1 solid var(--brdr);
                border-radius: 100vw;
                cursor: pointer;
                height: $pad * 2;
                width: $pad * 2;
            }

            &::-moz-range-thumb {
                background: var(--bg);
                border: $border - 1 solid var(--brdr);
                border-radius: 100vw;
                cursor: pointer;
                height: $pad * 2;
                width: $pad * 2;
            }
        }
    }

    > button {
        margin-bottom: $pad;
    }

    button {
        border-radius: $border;
        cursor: pointer;
        padding: $pad;
        width: 100%;
    }

    ul {
        border-radius: $border;
        margin-bottom: $pad;
        padding: $pad;
    }

    li {
        padding: $pad / 2 0;
    }
}

// tippy
.tippy-tooltip.honeybee-theme {
    background-color: var(--txt);
    color: var(--bg);
    font-weight: bold;
}

.tippy-popper[x-placement^='top'] .tippy-tooltip.honeybee-theme .tippy-arrow {
    border-top-color: var(--txt);
}
